@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background-color: rgb(42, 243, 35);
  width: 100%;
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .logo {
  width: 45px;
  margin-left: 100px;
  transform: rotateZ(20deg);
  animation: animaControl 2s infinite alternate ease-in-out 2s;
}
@keyframes animaControl {
  to {
    transform: rotateZ(0deg);
    transform: scale(1.05);
  }
}
header .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .search #inputSearch {
  width: 300px;
  height: 30px;
  border-radius: 4px;
  outline: none;
  font-weight: 600;
  font-size: 17px;
  padding-left: 7px;
}
header .search #inputSearch::placeholder {
  font-style: italic;
}
header .search .iconLupa {
  width: 24px;
  margin-right: 5px;
}
header ul {
  display: flex;
  gap: 60px;
  padding: 10px 30px;
  margin-right: 30px;
}
header ul li {
  list-style: none;
  font-family: "Roboto", sans-serif;
}
header ul li a {
  text-decoration: none;
  color: rgb(5, 19, 1);
  font-size: 20px;
  cursor: pointer;
  opacity: 0.8;
}
header ul li a:hover {
  opacity: 1;
}

main {
  background-color: rgba(9, 255, 0, 0.562);
  min-height: 89vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
main h1 {
  color: rgb(6, 19, 2);
  text-align: center;
  font-size: 6rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-top: 100px;
  text-shadow: rgba(20, 199, 20, 0.842) 9px 0px 3px;
  box-shadow: rgb(0, 0, 0) 1px 1px 1px;
  padding-bottom: 50px;
}
main .containerGames {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 1100px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-flow: wrap;
}
main .containerGames .boxGames {
  background-color: rgb(0, 0, 0);
  flex: 1 1 300px;
  height: 350px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(5, 126, 5);
  filter: brightness(0.8);
  transition: all 0.5s ease-in-out;
}
main .containerGames .boxGames:hover {
  filter: brightness(1);
}
main .containerGames .boxGames:hover .soon {
  font-size: 3.2rem;
  letter-spacing: 5px;
}
main .containerGames .boxGames .soon {
  color: white;
  font-size: 3rem;
  transform: rotateZ(-35deg);
  transition: all 0.5s ease-in-out;
  cursor: default;
}

#hit-the-number {
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  overflow: hidden;
}
#hit-the-number a {
  margin-bottom: -400px;
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
}
#hit-the-number:hover a {
  margin-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.747);
  color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  cursor: pointer;
}

footer {
  background-color: rgb(42, 243, 35);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
footer p {
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
